# ===============================
# Large data files
# ===============================
*.parquet
*.csv
*.zip

# ===============================
# Data directories
# ===============================
data/
processed/
raw/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc
.ipynb_checkpoints/

# ===============================
# IDE / Editors
# ===============================
.idea/
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
/ZeppelinRemoteNotebooks/